# Pandas

In [1]:
import pandas as pd #Importing pandas

In [29]:
pd.__version__

'1.2.5'

## Pandas series
A Pandas Series is like a column in a table. It is a one-dimensional array holding data of any type. we can use dict type too

In [8]:
a = [1,2,3,4]
aser = pd.Series(a)
print(aser) #default label are indecies we can give daata element a proper label
print("\n\n")
as_label = pd.Series(a, index=['a','b','c','d'])
print(as_label)
aser[0]
as_label["a"]

0    1
1    2
2    3
3    4
dtype: int64



a    1
b    2
c    3
d    4
dtype: int64

1

In [10]:
# Dict type serries
data = {"name1": "katy", "name2":"Natasha", "name3":"arnold"}
a = pd.Series(data)
a

name1       katy
name2    Natasha
name3     arnold
dtype: object

## DataFrames
A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.
Dataset in pandas which are usually mutidimensional  are called DataFrames

In [18]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
a = pd.DataFrame(data)
print(a)
a.loc[0] #loc returns specified row from dataframe syntax: df.loc[row_index]
a.loc[[0,1]]

   calories  duration
0       420        50
1       380        40
2       390        45

   calories  duration
0       420        50
1       380        40

## Read Csv In Pandas

In [30]:
df = pd.read_csv("reddit_vm.csv")
# print(df.to_string()) #used to print whole csv file
print(df.dtypes)
df

title         object
score          int64
id            object
url           object
comms_num      int64
created      float64
body          object
timestamp     object
dtype: object

,title,score,id,url,comms_num,created,body,timestamp
0,Health Canada approves AstraZeneca COVID-19 va...,7,lt74vw,https://www.canadaforums.ca/2021/02/health-can...,0,1.614400e+09,NaN,2021-02-27 06:33:45
1,COVID-19 in Canada: 'Vaccination passports' a ...,2,lsh0ij,https://www.canadaforums.ca/2021/02/covid-19-i...,1,1.614316e+09,NaN,2021-02-26 07:11:07
2,Coronavirus variants could fuel Canada's third...,6,lohlle,https://www.canadaforums.ca/2021/02/coronaviru...,0,1.613887e+09,NaN,2021-02-21 07:50:08
3,Canadian government to extend COVID-19 emergen...,1,lnptv8,https://www.canadaforums.ca/2021/02/canadian-g...,0,1.613796e+09,NaN,2021-02-20 06:35:13
4,Canada: Pfizer is 'extremely committed' to mee...,6,lkslm6,https://www.canadaforums.ca/2021/02/canada-pfi...,0,1.613468e+09,NaN,2021-02-16 11:36:28
...,...,...,...,...,...,...,...,...
1556,Comment,1,elqwqiv,NaN,0,1.556231e+09,What is thimerosal made of?,2019-04-26 01:16:41
1557,Comment,2,elqnxtl,NaN,0,1.556224e+09,Compounds aren't forms of elements. That's lit...,2019-04-25 23:34:45
1558,Comment,4,elqkd1n,NaN,0,1.556221e+09,Your link addresses why it was retracted. If y...,2019-04-25 22:42:01
1559,Comment,1,elqca9z,NaN,0,1.556211e+09,"And Wakefield's colleague, John Walker-Smith, ...",2019-04-25 19:55:33
1560,Comment,1,elnv8rx,NaN,0,1.556148e+09,> recipients of measles virus-containing vacci...,2019-04-25 02:18:02

In [32]:
df.head(6) #firssst n rows
df.tail(8) #last n rows

,title,score,id,url,comms_num,created,body,timestamp
1553,Comment,2,elqz2wa,NaN,0,1.556232e+09,https://en.wikipedia.org/wiki/Thiomersal\n\nEt...,2019-04-26 01:41:04
1554,Comment,0,elqybv1,NaN,0,1.556232e+09,Excellent. Why?,2019-04-26 01:33:18
1555,Comment,-1,elqy6em,NaN,0,1.556232e+09,M o n e y,2019-04-26 01:31:45
1556,Comment,1,elqwqiv,NaN,0,1.556231e+09,What is thimerosal made of?,2019-04-26 01:16:41
1557,Comment,2,elqnxtl,NaN,0,1.556224e+09,Compounds aren't forms of elements. That's lit...,2019-04-25 23:34:45
1558,Comment,4,elqkd1n,NaN,0,1.556221e+09,Your link addresses why it was retracted. If y...,2019-04-25 22:42:01
1559,Comment,1,elqca9z,NaN,0,1.556211e+09,"And Wakefield's colleague, John Walker-Smith, ...",2019-04-25 19:55:33
1560,Comment,1,elnv8rx,NaN,0,1.556148e+09,> recipients of measles virus-containing vacci...,2019-04-25 02:18:02

## Working with Json file

In [33]:
df = pd.read_json("data.json")
# print(df.to_string())
df.head(4)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4

## Save data into files

In [40]:
# df.to_excel("newData.xlsx",sheet_name="newdat", index=False) #Creates exel sheet with sheet name newDat

In [44]:
# Information about  Dataframe
df.info()
df['Pulse'] #get specific column i.e series in pandas

<class 'pandas.core.frame.DataFrame'>
Int64Index: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 6.6 KB

0      110
1      117
2      103
3      109
4      117
      ...
164    105
165    110
166    115
167    120
168    125
Name: Pulse, Length: 169, dtype: int64

In [48]:
# Methods on df ---Run to know about these
df.max()
df.min()
df.describe()

         Duration       Pulse    Maxpulse     Calories
count  169.000000  169.000000  169.000000   164.000000
mean    63.846154  107.461538  134.047337   375.800000
std     42.299949   14.510259   16.450434   266.377134
min     15.000000   80.000000  100.000000    50.300000
25%     45.000000  100.000000  124.000000   250.925000
50%     60.000000  105.000000  131.000000   318.600000
75%     60.000000  111.000000  141.000000   387.600000
max    300.000000  159.000000  184.000000  1860.400000